.Maptracking {
    padding: 20px;
    background-color: #fffaf7;
}

.title-text {
    color: #ff6a18;
    font-weight: bold;
    font-size: 1.5em;
}

.main-content {
    background-color: #fffaf7; 
    padding: 20px;
    border-radius: 10px; 
}

.subtitle-text {
    color: #ff6a18;
    font-size: 1.1em;
    margin: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.icon-button {
    border: none;
    background: transparent;
    margin: 0 5px;
    color: #6c757d;
}

.icon-circle {
    background-color: #023047;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.profile-section {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #ff6a18;
    font-weight: 500;
    color: #f1f3f5;
}

.user-icon {
    color: #f1f3f5;
}

.divider {
    border-top: solid #ff6a18;
    margin: 10px 0;
    color: #ff6a18;
}

.search-box {
    padding: 20px;
    background-color: #fffaf7;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
}

.search-icon {
    background-color: #ffffff;
    border: none;
    color: #6c757d;
    font-size: 1.5em;  
    padding: 10px; 
}

.search-box .form-control {
    font-size: 1.2em;  
    padding: 10px;  
    border-radius: 10px; 
}

.search-box .form-group {
    margin-bottom: 1em;
}


.map-display {
    display: flex;
    align-items: center;
    justify-content: center;
}
.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}


.trip-card {
    background-color: #ffffff; 
    border: 1px solid #dee2e6; 
}

.location-info p {
    margin: 0;
    color: #6c757d; 
}

h1{
    padding-top:5px;
    color: #023047;
}

map-container{
    height:100px;
    width:150px;
}

.selected-trip-overlay {
    position: absolute;
    top: 200px; 
    right: 10px;
    transform: translateX(-50%);
    z-index: 10;
    width: 80%;
    max-width: 400px; 

    padding: 10px;
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 80vh; 
}

.selected-trip-card {
    border-radius: 8px; 
    box-shadow: none; 
}

.selected-trip-card .location-info p,
.selected-trip-card .trip-details p {
    font-size: 17px;
    margin-bottom: 8px;
    color: #023047;
}

.selected-trip-card .trip-details p strong {
    font-weight: bold;
    color: #023047;
}

.selected-trip-card .card-title{
    color:#023047;
    font-weight:bold;
}

.selected-trip-card .card-subtitle{
    color:#ff6a18;
    font-size:30px;
}
