.Dashboard{
    margin: 20px;
    width: 100%;
    background-color: #FFFAF7;
}

.Dashboard .header-dashboard{
    display: flex;
    justify-content: space-between;
}

.Dashboard .header-button{
    display: flex;
}

.Dashboard .header-row{
    display: flex !important;
    flex-direction: column;
    align-items: flex-start !important;
    margin: 0;
}

.Dashboard .header-row h1{
    color: #ff6a18 !important;
    margin: 0;
    font-family: 'Poppins';
}


.Dashboard .header-row p{
    color: #ff6a18 !important;
    margin: 0;
}

.Dashboard .notif-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #023047;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    margin-right: 10px;
}

.Dashboard .notif-button:hover{
    background-color: #05202e;
    color: #fff;
}

.Dashboard .search-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #023047; 
    color: #fff;
    font-size: 1.2rem;
    border: none;
    margin-right: 10px;
}

.Dashboard .search-button:hover{
    background-color: #05202e;
    color: #fff;
}

.Dashboard .user-button {
    height: 50px;
    border-radius: 50px;
    background-color: #FF6A18;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Dashboard .user-button:hover{
    background-color: #05202e;
    color: #fff;
}

.Dashboard .user-icon{
    background-color: #fff;
    border-radius: 50%;
    color: #FF8C4C;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.Dashboard .dashboard-content{
    margin-top: 20px;
}

.Dashboard .left-content{
    padding: 0;
}

.Dashboard .right-content{
    padding: 0;
}

.Dashboard .dashboard-total{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-right: 10px;
}

.Dashboard .total-car{
    flex: 1;
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 40px 6px rgba(0, 0, 0, 0.02);
}

.Dashboard .total-car-custom {
    display: flex;
    flex-direction: column;
    height: 100%; 
    justify-content: space-between;
}
  


.Dashboard .total-car h4{
    color: #A2A2A2;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.Dashboard .total-car p{
    color: #012A4A;
    font-family: Poppins;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    margin: 0;
}

.Dashboard .dashboard-crashreport{
    background-color: #fff;
    margin: 0;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 40px 6px rgba(0, 0, 0, 0.02);
}

.Dashboard .dashboard-crashreport h4{
    color: #A2A2A2;
    font-family: Poppins;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.Dashboard .time{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Dashboard .time h4{
    color: #A2A2A2;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Dashboard .time p{
    margin: 0;
    color: #A2A2A2;
    text-align: center;
    font-family: Poppins;
    font-size: .8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Dashboard .driver{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Dashboard .driver h4{
    color: #A2A2A2;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Dashboard .driver p{
    margin: 0;
    color: #A2A2A2;
    text-align: center;
    font-family: Poppins;
    font-size: .8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Dashboard .open-btn{
    display: flex;
    justify-content: center;
}

.Dashboard .open-btn-custom{
    border-radius: 50px;
    background: #094985;
    padding-right: 20px;
    padding-left: 20px;
}

.Dashboard .fleet-status{
    background-color: #fff;
    margin: 0;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 40px 6px rgba(0, 0, 0, 0.02);
    padding: 10px;
}

.Dashboard .fleet-status h4{
    color: #A2A2A2;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.Dashboard .pie-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.Dashboard .location-overview{
    background-color: #fff;
    margin: 0;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: 0px 4px 40px 6px rgba(0, 0, 0, 0.02);
    padding: 10px;
}

.Dashboard .location-overview h4{
    color: #A2A2A2;
    font-family: Poppins;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Dashboard .location-overview-custom{
    height: 400px;
    padding-bottom: 10px;
}


.Dashboard .upcoming-trips{
    background-color: #fff;
    margin: 0;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 40px 6px rgba(0, 0, 0, 0.02);
    padding: 10px;
}

.Dashboard .upcoming-trips h4{
    color: #A2A2A2;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    padding-top: 10px;
}

.Dashboard .table tr{
    border: transparent;
    margin-bottom: 10px !important;
}

.Dashboard .upcoming-trips-table{
    border-collapse: separate !important;
    border-spacing: 0 10px !important;
}

.Dashboard .upcoming-trips-custom-table tr{
    margin-bottom: 10px !important; /* Adds gap between rows */
}

.Dashboard .upcoming-trips-custom-table td{
    background-color: #EFEFEF !important;
    border-radius: 15px;
    padding: 10px;
}


  
.Dashboard .about h4{
    color: #A6A6A6;
    font-family: Poppins;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0 !important;
}

.Dashboard .about p{
    color: #A6A6A6;
    font-family: Poppins;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.Dashboard .recent-bookings{
    background-color: #fff;
    margin: 0;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 40px 6px rgba(0, 0, 0, 0.02);
}

.Dashboard .recent-bookings h4{
    color: #A2A2A2;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Dashboard .recent-bookings-table .table thead tr{
    border: #C6C6C6 !important;
    border-width: 1px !important;
}

.Dashboard .recent-bookings-table .table th{
    color: #A6A6A6;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Dashboard .recent-bookings-table .table td{
    color: #A6A6A6;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}



.recent-bookings .upcoming {
    color: #094985 !important;
    text-transform: uppercase;
}

.recent-bookings .completed {
    color: green !important;
    text-transform: uppercase;
}

.recent-bookings .canceled {
    color: red !important;
    text-transform: uppercase;
}

.scrollable-notifications {
    max-height: 300px; /* Set the max height of the notifications container */
    overflow-y: auto;  /* Enable vertical scrolling */
    margin-top: 10px;   /* Optional: Add space between the title and table */
  }

.Dashboard .no-notif {
    color:#A2A2A2;
}

.upcoming-trip-item {
    background-color: #EFEFEF;
    margin-bottom: 5px;
    border-radius: 15px;
    padding: 10px;
}

.notification-header {
    color: #A2A2A2;
}

.notification-details .name {
    color: #094985;
    font-size: 20px;
    margin: 0;
}

.notification-details .type {
    color: #A2A2A2;
    margin: 0;
}

.notification-details .date {
    color: #A2A2A2;
    margin: 0;
}


